<!DOCTYPE html>
<html>
    <head>
        <title> Jogo da velha - MODULO 4 </title>
        <link rel="stylesheet" href="../css/index.css"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="game-title">
            <h1>
                JOGO DA VELHA
            </h1>
        </div>
        <div id="box-main">
            <div class="sub-box">
                <button class="box" value="1" id="box-1">
                </button>
                <button class="box" value="2" id="box-2">
                </button>
                <button class="box" value="3" id="box-3">
                </button>
            </div>
            <div class="sub-box">
                <button class="box" value="4" id="box-4">
                </button>
                <button class="box" value="5" id="box-5">
                </button>
                <button class="box" value="6" id="box-6">
                </button>
            </div>
            <div class="sub-box">
                <button class="box" value="7" id="box-7">
                </button>
                <button class="box" value="8" id="box-8">
                </button>
                <button class="box" value="9" id="box-9">
                </button>
            </div>
        </div>
    </body>
    <script src="../js/index.js"></script>
</html>